<header>
    <nav>
        <ul>
            <li>
                <a href="/">Pagina Principal</a>
            </li>
            <li>
                <a href="/contacto">Contacto</a>
            </li>
            <li>
                <a href="/products">Productos</a>
            </li>
        </ul>
    </nav>
</header>